NAME    = policies
TM_MAD  = ceph
TYPE    = FILE_DS
DS_MAD  = fs
DISK_TYPE = RBD

POOL_NAME   = policies
CEPH_HOST   = "192.168.10.90"
CEPH_USER   = libvirt-10
CEPH_SECRET = "<ceph-10-secret>"

BRIDGE_LIST = "192.168.10.56"
